:root{
  --color-rose: rosybrown;
  --color-pink: pink;
  --color-black: black;
  --color-grey: grey;
  --color-blue: blue;
}

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header {
  background-color: var(--color-rose);
}

.header img {
  width: 10em;
  height: 10em;
  border-radius: 5em;
  position: relative;
  right: 24em;
}

.menu {
  background-color: var(--color-rose);
  box-shadow: 0 0 5px #00000060;
}

.menu__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}

.menu__logo-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.menu__logo-img {
  height: 10em;
  border-radius: 10em;
}

.menu__cart-login-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.menu__button {
  padding: .6rem 1rem;
  background-color: transparent;
  color: var(--color-black);
  border: 1px solid var(--color-black);
  border-radius: .2rem;
  outline: none;
  transition: .2s;
  font-size: .9rem;
}

.menu__button:hover{
  background-color: var(--color-grey);
  color: var(--color-white);
  cursor: pointer;
}


nav {
  width: 80vw;
  height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav div input {
  width: 300px;
  height: 35px;
  margin-left: 20px;
  border-radius: 10px;
  border: 1px solid;
}



nav button {
  width: 182px;
  height: 52px;
  border: 1px solid #2A7AE4;
  color: #2A7AE4;
  background-color: white;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
}

#categories-wrapper {
  margin: 3.5em auto 0 auto;
  width: 80vw;
}

#categories-wrapper h2 {
  color: #464646;
  font-weight: bold;
}

#main-wrapper {
  margin-top: 30px;
}

#categorie-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
}

#categorie-title a {
  color: #2A7AE4;
  font-size: 10px;
  line-height: 19px;
  font-weight: 700;
}

#product-card-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
}

#product-card img {
  width: 150px;
  height: auto;
}

#product-card p {
  margin-top: 5px;
  color: #464646;
  font-size: 14px;
  font-weight: 500;
}

#product-card span {
  margin-top: 5px;
  font-size: 16px;
  color: #464646;
}

#product-card a {
  color: #2A7AE4;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

#product-card button {
  margin-top: 10px;
  width: 100%;
  height: 25px;
  border: none;
  color: white;
  background-color: #2A7AE4;
  text-decoration: none;
  font-size: 10px;
  cursor: pointer;
}

#contacto {
  background-color: rosybrown;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-top: 50px;
}

#contacto img {
  width: 14em;
  height: 14em;
  border-radius: 4em;
}
#contacto div {
  display: flex;
  justify-content: center;
  padding: 5px;
}

#contacto div div {
  width: 1.5rem;
  height: 1.5rem;
}

#contacto #info {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  color: #464646;
  font-size: 16px;
  font-weight: 500;
  margin-top: 25px;
}

#contacto #info p {
  margin: 10px 0;
}


.footer {
  background-color: rosybrown;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  margin-top: 50px;
}

.fa {
  padding: 16px 32px;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  border-radius:5em;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
  background: #125688;
  color: white;
}


#modal {
  width: 100vw;
  height: 300vw;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  position: absolute;
  display: none;
}

#modal button {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  border: none;
  color: white;
  background-color: #2A7AE4;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
}

#product-info {
  width: 75vw;
  height: auto;
  background: #8c87d9;
  background: -webkit-gradient(linear, left top, right top, from(#8c87d9), color-stop(50%, rgba(9, 204, 84, 0.944415)), to(#00d4ff));
  background: linear-gradient(90deg, #8c87d9 0%, rgba(9, 204, 84, 0.944415) 50%, #00d4ff 100%);
  z-index: 1;
  position: relative;
  top: 15rem;
  margin: 0 auto;
  vertical-align: middle;
  color: white;
  padding: 5px;
}

#product-info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#product-info div img {
  width: 75%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}